$nav-brand-padding: 0.7em;

nav {
  & a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    display: flex;
    align-items: center;
  }

  & #brand-logo {
    height: 1.5em;
    padding-right: $nav-brand-padding;
    border-right: 1px solid white;
  }

  & #app-title {
    padding-left: $nav-brand-padding;
  }

  & #navbarNav.navbar-collapse {
    flex-grow: 0;
    align-items: center;

    & .nav-items {
      color: white !important;
      align-items: center;

      & .nav-item {
        padding-left: 1.5em;
      }
    }
  }
}